<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BlogDao">
    <select id="queryByLimitForMe" resultType="com.baizhi.entity.Blog">
        select id,shop_id shopId,user_id userId,title,images,content,liked,
               comments,create_time createTime,update_time updateTime
        from tb_blog where user_id=#{userId} limit #{startIndex},#{size}
    </select>
</mapper>